body {
  background-color: #002b36;
  color:            #839496;
  font-family:      "Roboto Condensed", sans-serif;
  margin: 0;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

.main {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  height: 100vh;
  justify-content: space-around;
}

.time {
  background:    #073642;
  border-left:   6px solid #586e75;
  border-radius: 6px;
  border-right:  6px solid #586e75;
  color:         #586e75;
  height:        138px;
  line-height:   1;
  padding:       0 25px;
}

.time__digits {
  background:  transparent;
  border:      none;
  color:       inherit;
  font-family: "Roboto Condensed", sans-serif;
  font-size:   115px;
  padding:     0;
}

.time__digits::-webkit-inner-spin-button,
.time__digits::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

.time__digits--2 {
  width: 1em;
}

.time__digits--3 {
  width: 1.5em;
}

.time__separator {
  font-size:  115px;
}

.configuring {
  border-color: #839496;
  color:        #839496;
}

.configuring .time__digits:hover,
.configuring .time__digits:focus {
  color: #93a1a1;
}

.running {
  border-color: #93a1a1;
  color:        #93a1a1;
}

.warning {
  border-color: #b58900;
  color:        #b58900;
}

.finished {
  border-color: #cb4b16;
  color:        #cb4b16;
}
