body {
  background-color: #002b36;
  color:            #839496;
  font-family:      "Roboto Condensed", sans-serif;
  font-size: 18px;
  margin: 0;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

.main {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  height: 100vh;
  justify-content: space-around;
}

.time {
  background: #073642;
  border-left: 6px solid #586e75;
  border-radius: 6px;
  border-right: 6px solid #586e75;
  color: #586e75;
  font-size: 6rem;
  line-height: 1.4;
  outline: none;
  padding: 0 25px;
}

.configuring {
  border-color: #839496;
  color:        #839496;
}

.configuring:hover,
.configuring:focus {
  color: #93a1a1;
}

.running {
  border-color: #93a1a1;
  color:        #93a1a1;
}

.warning {
  border-color: #b58900;
  color:        #b58900;
}

.finished {
  border-color: #cb4b16;
  color:        #cb4b16;
}
